html {
  background-color: rgb(24, 24, 24);
  font-family: 'Courier New', Courier, monospace;
}

html,
body,
.aligner {
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: 800px) {
  .buttons {
    flex-direction: column;
  }
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttons {
  display: flex;
  gap: 20px;
}

button,
.result {
  font-size: 3.5em;
  color: whitesmoke;
}

.result {
  padding: 50px;
  font-weight: bold;
  text-align: center;
}

button {
  height: 110px;
  width: 150px;
  background-color: transparent;
  border-radius: 20px;
}

#restart {
  display: none;
}