html {
  background-color: rgb(24, 24, 24);
  font-family: 'Courier New', Courier, monospace;
  color: whitesmoke;
}

html,
body,
.aligner {
  height: 100%;
  margin: 0;
  padding: 0;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  margin: 10px;
  height: 80px;
  width: 110px;
  font-size: xx-large;
  color: whitesmoke;
  background-color: transparent;
  border-radius: 20px;
}

#restart {
  display: none;
}

.result {
  padding: 50px;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}